{{ define "main" }}
	<article class="herb-article">
		<header>
			<h1>{{ .Title }}</h1>
			<span>{{ .Params.Subtitle }}</span>
		</header>

		<script src="https://unpkg.com/gbif-map@1.0.3/index.js?module" type="module"></script>
		<figure>
			<gbif-map
				gbif-query="{{ .File.TranslationBaseName }}"
				center-latitude="62.759358"
				center-longitude="15.614927"
				zoom="4"
			></gbif-map>
			<figcaption>Utbredning i Norden. Via <a href="https://www.gbif.org/search?q={{ .File.TranslationBaseName }}">GBIF</a>.</figcaption>
		</figure>

		{{ .Content }}
	</article>

	{{ partial "donate.html" . }}
{{ end }}
