{{ define "main" }}
	<article class="herb-article">
		<header>
			<h1>{{ .Title }}</h1>
			<span>{{ .Params.Subtitle }}</span>
		</header>

		{{ if isset .Params "gbif" }}
			<script src="https://unpkg.com/gbif-map?module" type="module"></script>
			<figure>
				<gbif-map
					gbif-id="{{ .Params.gbif }}"
					center-latitude="62.759358"
					center-longitude="15.614927"
					zoom="4"
				></gbif-map>
				<figcaption>Utbredning i Norden. Via <a href="https://www.gbif.org/species/{{ .Params.gbif }}">GBIF</a>.</figcaption>
			</figure>
		{{ end }}

		{{ .Content }}
	</article>

	{{ partial "donate.html" . }}
{{ end }}
