html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url(/img/light-paper.png);
  font-size: 16px;
}

body {
  display: flex;
  flex-flow: column nowrap;
}

main {
  flex: 1;
}

body > header {
  background: linear-gradient(rgba(136,90,62,0.5), rgba(96,48,19,0.5) 70%, rgba(136,90,62,0.5)), url(/img/dark-paper.png);
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

header nav a {
  color: hsl(45, 74%, 76%);
  text-decoration: none;
  padding: 1em 0.8em;
  letter-spacing: 1px;
  display: block;
}

header a:hover {
  color: hsl(41, 84%, 68%);
}

main > article {
  margin: 1rem;
  background-color: rgba(255,255,255,0.5);
  border-radius: 12px;
  padding: 24px;
  font-family: 'Droid Serif', 'Times New Roman', serif;
}

main > article header {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}

main > article header span {
  margin-left: 0.5em;
  font-size: 0.8rem;
}

main > article h1 {
  margin: 0;
}

main > article img {
  border: 10px solid white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

body > footer {
  background-color:  rgba(136,90,62,1);
  color: white;
  text-align: center;
  padding: 0.5em;
}

a {
  color: currentColor;
}

.index-page img {
  border: 0;
  box-shadow: none;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

article.summary {
  font-family: 'Catamaran', sans-serif;
  position: relative;
  background-color: black;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  border-radius: 12px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 200ms ease;
  contain: strict;
}

article.summary span {
  font-weight: 700;
  color: white;
  z-index: 1;
  letter-spacing: 1px;
  width: 100%;
  padding: 10px;
  font-size: 1.2em;
  transition: all 200ms ease;
  opacity: 1;
}

article.summary .background {
  position: absolute;
  top: -25%;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.7;
  transition: all 200ms ease;
}

article.summary:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

article.summary:hover .background {
  opacity: 1;
  transform: translateY(20%);
  filter: none;
}

article.summary:hover span {
  opacity: 0;
  transform: translateY(40%);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem;
  justify-items: center;
  align-items: center;
}

.grid a {
  width: 100%;
  height: 100%;
  min-height: 20vh;
  text-decoration: none;
}